<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahgz.mapper.StorageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ahgz.entity.Storage">
        <id column="id" property="id" />
        <result column="matnr" property="matnr" />
        <result column="part_name" property="partName" />
        <result column="category" property="category" />
        <result column="part_specification" property="partSpecification" />
        <result column="material" property="material" />
        <result column="figure_number" property="figureNumber" />
        <result column="number" property="number" />
        <result column="supplier" property="supplier" />
        <result column="location" property="location" />
        <result column="created_name" property="createdName" />
        <result column="created_time" property="createdTime" />
        <result column="updated_name" property="updatedName" />
        <result column="updated_time" property="updatedTime" />
        <result column="mark" property="mark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, matnr, part_name, category, part_specification, material, figure_number, number, supplier, location, created_name, created_time, updated_name, updated_time, mark
    </sql>

</mapper>
